:root {
    --veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --desaturatedDarkBlue: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    font-size: 13px;
    background-color: var(--lightGrayishBlue);
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    height: 100vh;
}

.myContainer {
    background-color: white;
    max-width: 800px;
}

#img1 {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.articleTitle {
    font-weight: 700 !important;
    padding-top: 30px;
    font-size: 15px;
    color: var(--veryDarkGrayishBlue);
}

.articleDesc {
    color: var(--veryDarkGrayishBlue);
}

.authorDetails {
    height: 65px;
    margin-bottom: 10px;
}

.tooLong {
    height: 65px;
}

#avatar {
    height: 60%;
    contain: content;
}

#authorName {
    font-weight: 700;
    color: var(--veryDarkGrayishBlue);
}

#pubDate {
    font-weight: 500;
    opacity: 70%;
    color: var(--veryDarkGrayishBlue);
}

.iconFill {
    background-color: var(--lightGrayishBlue);
    width: 30px;
    height: 30px;
}

.iconFill:hover {
    cursor: pointer;
}

.attribution { 
    font-size: 12px; 
    text-align: center;
    margin-top: 25px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Mobile Share Popout */

#popout {
    display: none;
    height: 65px;
    background-color: var(--veryDarkGrayishBlue);
    margin: 0px -24px -10px -24px;
    border-radius: 0px 0px 15px 15px;
}

.shareTxt {
    color: var(--grayishBlue);

}

.letterSpacing {
    letter-spacing: 4px;
}

.moveLeft {
    position: relative;
    left: 12px;
}

.moveRight {
    position: relative;
    right: 12px;
}

.icons {
    height: 22px;
    width: 22px;
}

.iconSpacer {
    width: 20px;
}

/* Desktop Share Popout */

#popoutDesktop {
    display: none;
    position: relative;
    top: -140px;
    left: 248px;
    background-color: var(--veryDarkGrayishBlue);
    padding: 0 25px 0 25px;
    height: 50px;
    width: 275px;
    margin-bottom: -50px;
}

#popoutDesktop div {
    height: 50px;
}

#popoutDesktop:after {
    content: " ";
    /* background-color: var(--veryDarkGrayishBlue); */
    position: absolute;
    width: 0px;
    height: 0px;
    top: 50px;
    left: 130px;
    /* border-radius: 5px; */
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--veryDarkGrayishBlue);
}

/* .hideForNow {
    display: none;
} */


@media screen and (min-width: 992px) {
    #img1 {
        width: 292px;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .articleTitle {
        font-size: 20px;
    }

    .articleDesc {
        font-size: 15px;
    }

    .authorDetails {
        margin-bottom: 20px;
        font-size: 16px;
    }

}
